body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    padding: 12px;
    font-size: 44px;
    font-weight: 200;
    line-height: .9;
    margin-bottom: 6px;
    margin-top: 0;
    font-family: "Duru Sans",sans-serif;
}

h2 {
    text-align: center;
    padding: 12px;
    font-size: 24px;
    font-weight: 200;
    line-height: .9;
    margin-bottom: 6px;
    margin-top: 0;
    font-family: "Duru Sans",sans-serif;
}

h4 {
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-weight: 200;
    line-height: .9;
    margin-bottom: 6px;
    margin-top: 0;
    font-family: "Duru Sans",sans-serif;
}

.dev-popup{
background-color: darkgray;
border: 1px solid black;
width: 400px;
margin: 0 auto;
}

p {
    text-align: center;
    padding: 0 24px;
    margin: 0px 12px 24px;
    line-height: .95;
    font-size: 24px;
    font-family: Segoe UI;
    line-height: .9;
    white-space: pre-line;
}

.app {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
}

.app-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.header {
    border-radius: 0;
    min-width: 140%;
    margin-left: -20%;
    height: 130px;
    border-bottom-left-radius: 70% 100%;
    border-bottom-right-radius: 70% 100%;
    margin-bottom: -40px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(229, 209, 135);
    background: linear-gradient(45deg, rgb(79, 156, 187), rgb(3, 142, 140));
}

.header-box {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-box-logo {
    width: 85px;
    height: 85px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-box-name {
    max-width: 60%;
    font-family: "Duru Sans",sans-serif;
    padding-left: 8px;
    font-size: 24px;
}

.carousel {
    display: block;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}

.carousel-card {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}
.carousel-card-item{
    display: inline-block;
    position: relative;
    width: 75%;
    margin: 10px;
    overflow: hidden;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    border-radius: 15px;
}

.carousel-card-item-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

.carousel-card-item-title {
    text-align: left;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 26px;
    font-family: "Fira Sans",sans-serif;
    line-height: 1;
    white-space: pre-line;
    padding: 10px;
    color: #fff!important;
    position: absolute;
    bottom: 0;
}

.carousel-promo-item {
    display: inline-block;
    position: relative;
    width: 75%;
    margin: 10px;
    height: 125px;
    overflow: hidden;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    border-radius: 15px;
}

.carousel-promo-item-title {
    text-align: left;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 16px;
    font-family: "Fira Sans",sans-serif;
    line-height: 1;
    white-space: pre-line;
    padding: 10px;
    color: #fff!important;
    position: absolute;
    bottom: 0;
}

.subscriptions {
    margin: 0 12px 6px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.subscriptions-button {
    background: linear-gradient(45deg, rgb(79, 156, 187), rgb(3, 142, 140));
    flex-grow: 1;
    flex-shrink: 1;
    margin: 12px;
    min-width: calc(30% - 12px);
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.2);
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    transition: .4s;
    user-select: none;
    cursor: pointer;
    outline: none;
    max-width: 100%;
    overflow: hidden;
}

.subscriptions-button span {
    font-size: 26px;
    font-weight: 400;
    color: rgb(229, 209, 135);
}

.footer {
    border-radius: 0;
    min-width: 140%;
    margin-left: -20%;
    height: 130px;
    border-top-left-radius: 70% 100%;
    border-top-right-radius: 70% 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(229, 209, 135);
    background: linear-gradient(45deg, rgb(79, 156, 187), rgb(3, 142, 140));
}

.footer-box {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.footer-name {
    color: rgb(229, 209, 135);
    font-family: "Duru Sans",sans-serif;
    font-size: 12px;
}

.footer-pwa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3px 30%;
    width: 100%;
    min-width: 250px;
}

.footer-pwa-brand-item {
    font-size: 38px;
    display: inline-block;
    width: 1em;
    height: 1em;
    contain: strict;
    fill: currentcolor;
    box-sizing: content-box !important;
    color: rgb(229, 209, 135);
}

.footer-sweety {
    background-color: hsla(0,0%,100%,.5);
    padding: 2px 4px;
    border-radius: 8px;
    font-size: 10px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
